@model IEnumerable<Final_Football_Club.Models.History>

@{
    ViewBag.Title = "ClubHistory";
}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
      google.charts.load('current', {'packages' :[ 'corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
          data.addColumn('string', 'Achivements');
        data.addColumn('number', 'Count');
        data.addRows([
          ['Final', @Model.Where(x=>x.Achivements == "Final").Count()],
          ['Semi-Final', @Model.Where(x=>x.Achivements == "Semi-Final").Count()],
          ['Champion', @Model.Where(x=>x.Achivements == "Champion").Count()],
          ['Quarter-Final', @Model.Where(x=>x.Achivements == "Quarter-Final").Count()],
          ['First-Runnersup', @Model.Where(x=>x.Achivements == "First-Runnersup").Count()],
          ['Second-Runnersup', @Model.Where(x=>x.Achivements == "Second-Runnersup").Count()]
        ]);
        var options = {'title':'Achievement Status',
                       'width':800,
                       'height':500};
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
</script>




<h2>ClubHistory</h2>

<div id="chart_div"></div>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Seasons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tournament)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coach)
        </th>
        <th>
            Achivement
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Seasons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achivements)
            </td>

        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to Profile", "PlayerProfile")
</div>