@model Final_Football_Club.Models.TeamsPlayer


@{
    ViewBag.Title = "SelectPlayerForTeam";
}

<style>
    .dropbtn {
        background-color: black;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        color: white;
        position: absolute;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
        color: white;
    }

    .dropdown:hover .dropbtn {
        background-color: black;
    }
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @Html.ActionLink("Coach", "Details", "Coach", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Match Info", "Index", "Match", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Player Achievement", "Index", "Goals", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Select Player", "SelectPlayerForTeam", "Team", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Proposed Next Team", "ProposedTeam", "Team", new { area = "" }, new { @class = "navbar-brand" })
            <a href="/Notification" class="navbar-brand">Notification (@Session["Notifications"])</a>



            <div class="dropdown">
                <label class="dropbtn">MemberList</label>
                <div class="dropdown-content">

                    <a>
                        @Html.ActionLink("PlayerList", "PlayerList", "Player", new { area = "" }, new { @class = "navbar-brand" })
                    </a>
                    <a>
                        @Html.ActionLink("CoachList", "CoachList", "Coach", new { area = "" }, new { @class = "navbar-brand" })
                    </a>

                </div>
            </div>
        </div>
        @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</div>
<h2>SelectPlayerForTeam</h2>
@if (ViewBag.Error != null)
{
    @ViewBag.Error
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TeamForMatch</h4>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{
            List<SelectListItem> data = ViewBag.GetPlayer;
        }



        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            List<SelectListItem> data1 = ViewBag.GetMatch;
        }
        <div class="form-group">

            @Html.LabelFor(model => model.MatchID, "MatchID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MatchID, data1, "...select...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MatchID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Team, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Team, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Team, "", new { @class = "text-danger" })
            </div>
        </div>


        <style>
            .ccard {
                display: inline-block;
                background: #94ddff;
                border-radius: 5px;
                padding: 15px 25px;
                margin: 0 10px;
                user-select: none;
                width: 180px;
            }

                .ccard ul {
                    padding: 0;
                    list-style: none;
                }

            .ccc {
                appearance: none;
            }

                .ccc:checked + .ccard {
                    background-color: #60a366;
                }
        </style>


        <div class="container">
            @foreach (var item in ViewBag.Allplayer)
            {

                <input type="checkbox" name="PlayerUserName" value="@item.UserName" class="ccc" />
                <div class="ccard" onclick="this.previousElementSibling.checked=!this.previousElementSibling.checked">

                    @if (String.IsNullOrEmpty(item.Image))
                    {
                        <img src="/Content/Images/OIP.jpg" width="100px" />
                    }
                    else
                    {
                        <img src="/Content/Images/@item.Image" width="100px" />
                    }

                    <h3>@item.Name</h3>
                    <hr />
                    <ul>
                        <li>Position: @item.Position</li>
                        <li>Point: </li>
                    </ul>
                </div>
            }

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" style="margin-top:30px;" value="Create" class="btn btn-default" />

            </div>
        </div>
    </div>
}

<div>
    <a href="/Team/ProposedTeam"><button>Teams</button></a>
    <a href="/Coach/Coach"><button>Back</button></a>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
