@model Final_Football_Club.Models.Goal

@{
    ViewBag.Title = "Create";
    if (Session["UserName"] == null)
    {
        Response.Redirect("../Home/Login");
    }
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="form-horizontal">
    <h4>Goal</h4>


    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.PlayerUserName, "Player", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PlayerUserName", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PlayerUserName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.MatchId, "MatchId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownList("MatchId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MatchId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfGoals, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumberOfGoals, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NumberOfGoals, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Point, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Point, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Point, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Card, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="Card" class="form-control">
                <option>Green</option>
                <option>Yollow</option>
                <option>Red</option>
            </select>
            @Html.ValidationMessageFor(model => model.NumberOfGoals, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a href="/Goals/Index"><button>All Achivement</button></a>
   
    <a href="/Goals" ><button>Back</button></a>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
